footer{
  background-color: #2c2b2b;
  height: 12em;
  text-align: center;
}

footer p {
  color: rgb(140, 134, 134);
}

span {
  color: red;
  content: "\2665";
}

ul{
  padding-top: 40px;
  list-style-type: none;
}

li{
  display: inline;
  color: #1CDD87;
  font-size: 2em;
  margin: 0.2em;
}
