header{
  background-image: url('../../images/background.png');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

header a{
  margin-top: 20px;
}

.container p {
  margin-bottom: 3em;
  color: rgb(186, 186, 186);
}
